<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Products <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <br>
  <h2>Produtos</h2>
  <form class="jumbotron">
    <div class="form-group">
      <label class="btn btn-outline-primary">
        Selecionar Arquivo
        <input type="file" accept=".xls,.xlsx" hidden (change)="uploadFile($event)">
      </label>
    </div>
    <div class="form-group" *ngIf="file">
      <label>{{ file.name }}</label>
    </div>
    <button class="btn btn-primary" [hidden]="!file" (click)="import()">Importar</button>
  </form>

  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>EAN</th>
      <th>NOME PRODUTO</th>
      <th>PREÇO</th>
      <th>ESTOQUE</th>
      <th>DATA FABRICAÇÃO</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of products">
      <td><a href="" id="item{{ p.id }}" (click)="remove(p)">Excluir</a></td>
      <td>{{ p.ean }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.qtd }}</td>
      <td>{{ p.fabricated_at }}</td>
    </tr>
    </tbody>
  </table>
</div>
